<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="nopcommerce regression suite">
	<parameter name="browser" value="chrome"></parameter>
	<test name="Regression Test" preserve-order="false">
		<classes>
			<class name="tests.ContactUsTest" />
			<class name="tests.UserRegisterationTest" />
			<class name="tests.ProductHoverMenuTest" />
			<class name="tests.SearchProductTest" />
			<class name="tests.AddProductToShoppingCartTest" />
			<class name="tests.AddProductToWishListTest" />
			<class name="tests.ChangeCurrencyTest" />
			<class name="tests.AddProductToCompareList" />
			<class name="tests.EmailFriendTest" />
			<class name="tests.AddProductReviewTest" />
			<class name="tests.MyAccountTest" />
			<class name="tests.SearchProductUsingAutoSuggestTest" />

		</classes>
	</test>
</suite> 
